body
    position: relative

    font-family: 'PT Sans'

    min-width: 768px
    max-width: 1200px
    margin: 0 auto

    background-color: #FFF

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2)

html
    background-color: #F2F2F2
