.footer
    position: absolute
    bottom: 0

    display: flex

    width: 100%

    justify-content: space-between
    flex-flow: row nowrap
    background-color: white
    opacity: 0.7

    &__column
        min-height: 100px

        flex: 0 0 33.33%
