.hotels-list
    display: flex
    flex-flow: column
    justify-content: space-between

    .hotel
        display: flex
        flex-flow: row nowrap
        padding: 15px 6%
        border-bottom: 1px solid $secondary-color
